/* src/App.css */
.App {
  text-align: center;
  margin-top: 100px;
}

.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-text {
  font-size: 2rem;
  margin-bottom: 20px;
}

.counter-buttons {
  display: flex;
  gap: 20px;
}

button {
  font-size: 1.5rem;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #d60000;
  cursor: not-allowed;
}
/* src/App.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;

}

.App {
  text-align: center;
  width: 300px; /* Adjust the width as needed */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
